/* Variables
===================*/
:root {
  --basic-red: #EE3643;
  --basic-black: #000000;
  --basic-white: #FFFFFF;
  --basic-green: #63A63E;
  --basic-grey: #3D546F;
  --basic-greylight: #C5C5C5;
  --basic-greydark: #293449;
  --basic-yellow: #FFC047;
  --basic-background: #F1F5F7;
  --special-background: #F9F5F0;
  --special-yellow: #FFBF47;
  --special-blue: #3BBCE3;
  --special-lilac: #DC91D8;
  --special-greenlight: #8ED78F;
  --special-yellowlight: #FFD180;
  --special-grey: #32425C;
  --special-greydark: #1D2739;
  --special-light: #F3F7F9;
  --catalog-lightgray: #F2F6F8;
  --success:#5FBB2D;
  --warning:#FFBF47;
  --special-red: #BA2732;
  --border-greylight: #EAEAEA;  
  --price-basic: #A9A9A9; 
  --filter-background: #F7F3EC; 
  --filter-scale: #D7DCDE;
  --filter-bar: #00CA74;
  --filter-toggle: #ABABAB;
  --filter-toggle-box-shadow: #E0DDD9;
  --form-button-border: #E5E5E5;
  --active: rgba(169, 169, 169, 0.3); 
  --active-light: rgba(255, 255, 255, 0.5);
  --active-dark: #161D29; 
  --active-green: #518534;
  --enter: rgba(0, 0, 0, 0.0001);   
  --calm: rgba(255, 255, 255, 0.3);
  --hover: rgba(197, 197, 197, 0.3);
  --box-shadow: rgba(0, 0, 0, 0.24);
  --box-shadow-product: rgba(0, 0, 0, 0.15);
  --box-shadow-special: #367315; 
  --social-basic: #212A3A;
}


/* Global
===================*/

body {
  font-family: "Cuprum", Arial, sans-serif;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.visually-hidden:not(:focus):not(:active), 
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Common
===================*/

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.button-red {
  font-size: 14px;
  line-height: 18px;
  width: 192px;

  color: var(--basic-white);
  padding: 11px 38px 9px 39px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: var(--basic-red);
}

.button-red:active {
  background-color: var(--special-red);
}

/* Main-grid
===================*/
.page {
  height: 100%;
}

.page__body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
 align-content: start;
}


/* Main-header
===================*/
   
.main-header {
  width: 100%;
  min-height: 320px;
  margin-bottom: 59px;

  background-color: var(--basic-background); 
}

/* Main-header__top
===================*/
.main-header__top {
  min-height: 42px;

  background-color: var(--basic-greydark);
}

.main-header__top-inner {
  display: flex;
  align-items: center;
  justify-content: flex-end;

}

.main-header__logo {
  margin: 0;
  margin-right: auto;
  margin-bottom: -5px;
 
  
  min-height: 47px;
  width: 220px;
  padding: 12px 57px 12px 55px;

  background-color: var(--basic-red);
  box-shadow: inset 0px -5px 0px var(--box-shadow);
}

.main-header__logo:active {
  background-color: var(--special-red);
}

/* Header__search
===================*/

.header__search {
  min-height: 42px;
  min-height: 42px;
  width: 270px;

  position: relative;
}

.header__search form {
  display: flex;
  width: 270px;
  min-height: 42px;
}

.header__search form::before {
  content: "";
  width: 17px;
  height: 17px;

  background-image: url("../img/svg/icon-search.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;

  position: absolute;
  top: 12px;
  left: 17px;
}

.header__search form:hover::before {
  opacity: 1;
}

.header__search form:active::before {
 opacity: 0.3;
}

.header__search input {
  padding: 0;
  padding-left: 42px;
  width: 270px;
  min-height: 42px;
  border: none;

  background-color: var(--basic-greydark);
}

.header__search input::placeholder {
  font-size: 18px;
  line-height: 24px;

  color: var(--basic-white);
}

.header__search input:focus {
  background-color: var(--basic-white);
  color: var(--basic-black);
}

/* Header__user-links
===================*/

.main-header__user-link {
  font-size: 18px;
  line-height: 24px;
  
  color: var(--basic-white);
}

.bookmarks::before {
  content: "";
  width: 14px;
  height: 16px;

  background-image: url("../img/svg/icon-bookmark.svg");
  opacity: 0.3;
  background-repeat: no-repeat;
  background-position: 0 0;

  position: absolute;
  left: 20px;
  top: 13px;
}

.bookmarks {
  width: 150px;
  min-height: 42px;
  padding: 9px 24px 9px 43px;

  position: relative;
}

.cart::before {
  content: "";
  width: 15px;
  height: 15px;
  
  background-image: url("../img/svg/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;

  position: absolute;
  left: 26px;
  top: 13px;
}

.cart{
  width: 150px;
  min-height: 42px;
  padding: 9px 26px 9px 49px;

  position: relative;
}

.bookmarks:active,
.cart:active{
  background-color: var(--active-dark);
}
.bookmarks:hover::before, 
.cart:hover::before {
  opacity: 1;
}

.bookmarks:active::before,
.bookmarks:focus::before, 
.cart:active::before,
.cart:focus::before {
  opacity: 0.3;
}

.order {
  width: 150px;
  min-height: 42px;
  padding: 9px 16px 9px 19px;

  background-color: var(--basic-green);

}
              
.order:hover {
  background-color: var(--success);
}

.order:active {
  color: var(--active-light);
}








/* Main-header__middle
===================*/

.main-header__middle-inner {
  height: 160px;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.main-header__shop-description {
  width: 197px;
  margin-left: 30px;
  margin-right: 93px;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  font-style: italic;

  color: var(--basic-red);

 
}

.main-header__contacts {
  min-width: 270px;
 
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  
}

.main-header__phone::before{
  content: "";
  width: 19px;
  height: 19px;

  background-image: url("../img/svg/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  position: absolute;
  top: 11px;
  left:36px;
}

.main-header__phone {
  padding-left: 71px;
  padding-right: 42px;
  padding-top: 7px;
  padding-bottom: 8px;
  
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;
  text-decoration: none;
  border: 3px solid var(--basic-white);

  color: var(--basic-red);

  position: relative;
  
}

.main-header-adress {
  margin: 0;
  
  padding-left: 10px;
  font-size: 14px;
  line-height: 24px;

  color: var(--special-grey);
}

/* Main-header__user (index.html)
===================*/

.main-header__login {
  margin-left: 69px;

  display: flex;
  justify-content: center;
}

.main-header__login--enter::before {
  content: "";
  width: 20px;
  height: 17px;

  background-image: url("../img/svg/icon-login.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  position: absolute;
  top: 14px;
  left: 18px;
}

.main-header__login--enter {
  width: 121px;
  margin-right: 10px;
  margin-bottom: 22px;
  padding: 12px 27px 12px 45px;
  font-size: 21px;
  line-height: 21px;
  text-decoration: none;

  color: var(--basic-black);
  background-color: var(--enter);
  /*temporary color*/
  background-color: white;
  
  position: relative;
  
}

.main-header__login--enter:hover::before {
  background-image: url("../img/svg/icon-login-dark.svg");
}

.main-header__login--enter:active::before {
  background-image: url("../img/svg/icon-login.svg");
}

.main-header__login--registration{
  width: 150px;
  padding: 12px 24px;
  margin-bottom: 22px;
  font-size: 21px;
  line-height: 21px;
  text-decoration: none;

  color: var(--basic-black);
  /*temporary color*/
  background-color: white;
}

.main-header__login--enter:hover,
.main-header__login--registration:hover {
  color: var(--basic-red);
} 

.main-header__login--enter:active,
.main-header__login--registration:active {
  color: var(--basic-greylight);
} 

/* Main-header__user (catalog.html)
===================*/

.main-header__user {
  margin: 0;
  padding: 0;
  min-width: 299px;
  margin-left: 51px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-header__user--login {
  margin: 0;
  margin-bottom: 7px;
  font-size: 21px;
  line-height: 21px;
  padding: 12px 57px 12px 56px;

  color: var(--basic-black);
   /*temporary color*/
   background-color: white;

   position: relative;
}

.main-header__user--login::before {
  content: "";
  width: 20px;
  height: 18px;

  background-image: url("../img/svg/icon-user.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  position: absolute;
  top: 13px;
  left: 15px;
}

.main-header__user--login::after {
  content: "";
  width: 20px;
  height: 17px;

  background-image: url("../img/svg/icon-logout.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  position: absolute;
  top: 14px;
  right: 17px;
}

.main-header__user--login:hover::before {
  background-image: url("../img/svg/icon-user-dark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.main-header__user--login:hover::after {
  background-image: url("../img/svg/icon-logout-dark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.main-header__user--login:active::before {
  background-image: url("../img/svg/icon-user.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.main-header__user--login:active::after {
  background-image: url("../img/svg/icon-logout.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}


.main-user__menu {
  width: 210px;

  display: flex;
  justify-content: space-between;
}

.main-header__user--orders,
.main-header__user--account {
  font-size: 16px;
  line-height: 18px;

  color: var(--special-grey);
}

.main-header__user--orders:hover,
.main-header__user--account:hover {
  color: var(--basic-red);
}

.main-header__user--orders:active,
.main-header__user--account:active,
.main-header__user--login:active {
  color: var(--basic-greylight);
}

/* Main-header__navigation
===================*/

.main-header__navigation{
  background-color: var(--special-grey);
  box-shadow: inset 0px -5px 0px var(--hover-grey);
}

.main-header__navigation-inner {
  min-height: 60px;
  list-style: none;
  margin: 0;
  padding: 0;
 
  color: var(--basic-white);
  
  display: flex;
  justify-content: flex-start;
}

.main-header__navigation-inner a {
  padding-top: 15px;
  padding-bottom: 20px;
  padding-right: 24px;
  padding-left: 27px;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;

  color: var(--basic-white);

  display: block;
}
.main-header__navigation-inner li:first-child {
  margin-left: 25px;
  margin-right: 7px;
}

.main-header__navigation-inner li:nth-child(2) {
  margin-right: 5px;
}

.main-header__navigation-inner li:nth-child(3) {
  margin-right: 8px;
}

.main-header__navigation-inner li:nth-child(4) {
  margin-right: 6px;
}

.main-header__navigation-inner li:nth-child(5) {
  margin-right: 4px;
}

.main-header__navigation-inner li:nth-child(6) {
  margin-right: 7px;
}

.main-header__navigation-inner a:hover {
  background-color: var(--basic-greydark);
}

.main-header__navigation-inner a:active {
  background-color: var(--special-greydark);
  opacity: 0.5;
}


/* Main
===================*/

/* Main__offers
===================*/
.main-offers {
  margin-bottom: 59px;

  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: repeat(3, 123px);
  gap: 20px;
}

.main-offers__item {
  width: 300px;
  min-height: 123px;

  position: relative;
}

.main-offers__item--materials {
  background-color: var(--special-yellow);
}

.main-offers__item--tools {
  background-color: var(--special-blue);
}

.main-offers__item--equipment {
  background-color: var(--special-lilac);
}

.main-offers__item--discounts {
  background-color: var(--special-greenlight);
}

.main-offers__item--delivery {
  background-color: var(--basic-yellow);
}

.main-offers__item--name {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  margin-top: 20px;
  margin-left: 22px;  

  color: var(--basic-white);
}

.main-offers__item--description {
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;

  color: var(--basic-white);
  background-color: var(--calm);
}

.description--materials {
  padding: 10px 24px 10px 23px;
  margin-left: 23px;
}

.description--tools {
  padding: 10px 26px;
  margin-left: 22px;
}

.description--equipment {
  padding: 10px 31px 10px 30px;
  margin-left: 22px;
}

.description--discounts {
  padding: 10px 23px 10px 22px;
  margin-left: 23px;
}

.description--delivery {
  padding: 10px 37px 10px 36px;
  margin-left: 22px;
}

.main-offers__item--materials::after {
  content: "";
  width: 44px;
  height: 65px;

  background-image: url("../img/svg/icon-1.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  position: absolute;
  top: 31px;
  right: 43px;
}

.main-offers__item--tools::after {
  content: "";
  width: 75px;
  height: 61px;

  background-image: url("../img/svg/icon-2.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  position: absolute;
  top: 34px;
  right: 31px;
}

.main-offers__item--equipment::after {
  content: "";
  width: 78px;
  height: 62px;

  background-image: url("../img/svg/icon-3.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  position: absolute;
  top: 31px;
  right: 31px;
}

.main-offers__item--discounts::after {
  content: "";
  width: 59px;
  height: 72px;

  background-image: url("../img/svg/icon-4.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  position: absolute;
  top: 26px;
  right: 45px;
}

.main-offers__item--delivery::after {
  content: "";
  width: 78px;
  height: 63px;

  background-image: url("../img/svg/icon-5.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  position: absolute;
  top: 32px;
  right: 31px;
}

.description--materials:hover,
.description--tools:hover,
.description--equipment:hover,
.description--discounts:hover,
.description--delivery:hover {
  background-color: var(--hover);
}

.description--materials:active,
.description--tools:active,
.description--equipment:active,
.description--discounts:active,
.description--delivery:active {
  background-color: var(--active);
}



/* Slider
===================*/

.slider {
  grid-column: 1/3;
  grid-row: 2/4;

  position: relative;
}

.slide__image {
  position: absolute;
  z-index: -10;
}

.slider::before {
  content: "";
  width: 22px;
  height: 40px;

  background-image: url("../img/svg/icon-left.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  position: absolute;
  top: 122px;
  left: 24px;
  z-index: 10;
}

.slider::after {
  content: "";
  width: 22px;
  height: 40px;

  background-image: url("../img/svg/icon-right.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  
  position: absolute;
  top: 122px;
  right: 20px;
  z-index: 10;
}


.slider__list {
  margin: 0;
  padding: 0;
  list-style: none;
}


.slide__title {
  margin: 0;
  padding: 0;
  padding-top: 23px;
  padding-left: 24px;
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  text-transform: uppercase;

  color: var(--basic-white);
}

.slide__text {
  margin: 0;
  margin-bottom: 110px;
  font-size: 18px;
  line-height: 24px;
  padding-left: 24px;
  color: var(--basic-white);
  
}

.slide__link {
  font-size: 14px;
  line-height: 18px;
  margin-left: 24px;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--basic-red);
  padding: 11px 38px 8px 39px;
  text-decoration: none;
}

.slider__link:active {
  background-color: var(--special-red);
}

.slider__controls {
  width: 30px;

  display: flex;
  justify-content: space-between;

  position: absolute;
  bottom: 36px;
  left: 295px;
}

.slider__controls button{
  padding: 0;
  width: 10px;
  height: 10px;
  background-color: var(--basic-white);
  border: 2px solid var(--basic-white);
  border-radius: 50%;
  cursor: pointer;
}

.slide {
  display: none;
}

.slide--current {
  display: block;
}

.slider__controls .current {
  background-color: var(--basic-red);
}

/* Best-sellers
===================*/

.best-sellers {
  margin-bottom: 70px;

  display: flex;
  flex-direction: column;
}

.best-sellers__link {
  margin-right: 14px;
}

.best-sellers__top-wrapper {
  margin-bottom: 20px;
  

  background-color: var(--special-background);

  display: flex;
  justify-content: space-between;
  
}
  

.best-sellers__title {
  margin: 0;
  margin-top: 29px;
  margin-bottom: 30px;
  font-size: 30px;
  line-height: 30px;
  margin-left: 28px;
  font-weight: normal;
  text-transform: uppercase;
  

  color: var(--special-grey);
}

.best-sellers__link {
  margin-top: 25px;
  margin-bottom: 26px;
  padding: 11px 24px 9px 24px;
}

.best-sellers__bottom-wrapper {
  display:grid;
  grid-template-columns: repeat(4, 220px);
  gap: 20px;
}


/* Product-card
===================*/

.product-card {
  width: 220px;
  min-height: 318px;
  border: 1px solid var(--border-greylight);
  text-align: center;
  line-height: 20px;

  display: flex;
  flex-direction: column;

  position: relative;
}

.product-card .flag {
  width: 70px;
  height: 70px;

  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  overflow: hidden;
}

.product-card .flag--new {
  background-image: url("../img/png/flag-new.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.product-card__image {
  width: 220px;
  height: 178px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.product-card__title {
  margin: 0;
  margin-bottom: 8px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  min-height: 40px;
  padding: 0 15px;

  color: var(--basic-black);
}

.product-card__basic-price {
  margin: 0;
  margin-bottom: 13px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;

  color: var(--price-basic);
}

.product-card__current-price {
  margin: 0;
  margin-bottom: 21px;
  margin-left: 44px;
  margin-top: auto;
  padding-right: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  width: 141px;
  
  border-radius: 3px;

  color: var(--basic-white);
  background-color:var(--basic-red);

  position: relative;
}

.product-card:first-child .best-sellers-item {
  padding-right: 9px;
}

.product-card:nth-child(2) .best-sellers-item {
  margin-right: 5px;
  margin-top: 2px;
}

.product-card:nth-child(4) .best-sellers-item {
  margin-right: 5px;
  margin-top: 2px;
}

.product-card__current-price::after {
  content: "";
  width: 0;
  height: 0;
  border: 19px solid var(--basic-white);
  border-left-color: transparent;
  

  position: absolute;
  top: 0;
  right: -19px;
  color: var(--basic-white);
}

.product-card:hover {
  box-shadow: 0px 4px 20px var(--box-shadow-product);
}

/* Product-card__actions
===================*/

.product-card__actions {
  width: 218px;
  height: 178px;

  background-color: var(--basic-white);

  display: flex;
  flex-direction: column;
  justify-content: flex-start;                   
  align-items: center;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}

.product-card__actions--buy {
  margin-top: 38px;
  width: 135px;
  padding: 10px 40px 10px 53px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;

  color: var(--basic-white);
  background-color: var(--basic-green);
  box-shadow: inset 0px -3px 0px var(--box-shadow-special);
  border-radius: 2px;

  position: relative;
}

.product-card__actions--buy::before {
  content: "";
  width: 15px;
  height: 15px;

  background-image: url("../img/svg/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  position: absolute;
  top: 10px;
  left: 30px;
}


.product-card__actions--buy:hover {
  background-color: var(--success);
}

.product-card__actions--buy:active {
  background-color: var(--active-green);
}

.product-card__actions--bookmarks {
  margin-top: 10px;
  width: 135px;
  padding: 11px 30px 9px 31px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;

  color: var(--special-grey);
  border: 3px solid var(--basic-green);
  border-radius: 2px;
}

.product-card__actions--bookmarks:hover {
  border: 3px solid var(--special-grey);
}

.product-card__actions--bookmarks:active {
  opacity: 0.5;
}

.product-card .product-card__actions {
  display: none;
}

.product-card:hover .product-card__actions {
  display: flex;
}


/* Popular-brands
===================*/

.popular-brands {
  margin-bottom: 70px;

  display: flex;
  flex-direction: column;
}

.popular-brands__top-wrapper{
  background-color: var(--special-background);
  margin-bottom: 20px;

  display: flex;
}

.popular-brands__title {
  margin: 0;
  margin-top: 29px;
  font-size: 30px;
  line-height: 30px;
  margin-left: 28px;
  font-weight: normal;
  text-transform: uppercase;

  color: var(--special-grey);
}

.brands__link {
  margin-right: 19px;
}

.popular-brands__inner {
  display: grid;
  grid-template-columns: repeat(4, 220px);
  gap: 20px;
}

.popular-brands__item  {
  width: 220px;
  height: 145px;
  border: 1px solid #EAEAEA;

  display: flex;
}

.popular-brands__item .bosch {
  margin: 52px 55px 52px 45px;
}

.popular-brands__item .makita {
  margin: 49px 55px 54px 45px;
}

.popular-brands__item .dewalt {
  margin: 48px 36px 53px 36px;
}

.popular-brands__item .interskol {
  margin: 21px 8px 36px 8px;
}

.popular-brands__item .hitachi {
  margin: 58px 24px 56px 26px;
}

.popular-brands__item .lg {
  margin: 35px 52px 37px 47px;
}

.popular-brands__item .aeg {
  margin: 23px 34px 26px 33px;
}

.popular-brands__item .metabo {
  margin: 34px 7px 42px 8px;
}


.popular-brands__item:hover {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.popular-brands__item:active {
  background-color: var(--basic-white);
  border: 1px solid var(--border-greylight);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  opacity: 0.5;
}

.popular-brands__link {
  margin-left: 334px;
  margin-top: 24px;
  margin-bottom: 26px;
  padding: 10px 38px 9px 39px;
 
}

/* Services
===================*/

.services__background {
  min-height: 522px;
  margin-bottom: 70px;
  background-color: var(--basic-background);
}

.services-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.services__title {
 margin: 0;
 margin-top: 64px;
 margin-bottom: 25px;
 font-size: 30px; 
 line-height: 30px;
 font-weight: normal;
 text-transform: uppercase;

 color: var(--basic-black);
}

.services__text {
  margin: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;

  color: var(--basic-black);
}

.services__navigation-wrapper {
  margin-top: 70px;

  display: flex;
  position: relative;
}

.services__navigation-wrapper::after {
  content: "";
  width: 468px;
  height: 261px;

  background-image: url("../img/png/delivery.png");
  background-repeat: no-repeat;
  background-position: 0 0;

  position: absolute;
  top: 22px;
  right: 0px;
}

.services__navigation {
  margin: 0;
  padding: 0;
  margin-bottom: 100px;
  list-style: none;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.services__item {
  width: 240px;
  height: 61px;

  background-color: var(--basic-grey);
  color: var(--basic-white);

  display: flex;
  align-items: center;
}

.services__item:hover {
  background-color: var(--hover-grey);
  box-shadow: 0px 1px 0px #293449, inset 0px 1px 0px #405069;
} 

.services__item--active {
  background-color: var(--basic-white);
  box-shadow: 0px 1px 0px #FFFFFF, inset 0px 1px 0px #FFFFFF;
  color: var(--special-grey);
}

.services__item:active {
  background-color: var(--basic-white);
  box-shadow: 0px 1px 0px #FFFFFF, inset 0px 1px 0px #FFFFFF;
  color: var(--special-grey);
}

.services__item-description {
  font-size: 21px;
  line-height: 30px;
  font-weight: normal;
  margin-left: 22px;
  text-decoration: none;
  
  color: var(--basic-white);
  
}

.services__item-description--active {
  color: var(--special-grey);
}

.services__item-description--active:hover {
  background-color: var(--hover-grey);
  box-shadow: 0px 1px 0px #293449, inset 0px 1px 0px #405069;
  color: var(--basic-white);
}

.services__item-description:active {
  color: var(--special-grey);
}

.service-description {
  margin: 0;
  margin-left: 80px;
  width: 280px;
  display: flex;
}

.service-description__title {
  margin: 0;
  margin-bottom: 30px;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;

  color: var(--special-grey)
}

.service-description p {
  margin: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;

  color: var(--basic-black);
}



/* Temporary-hidden
===================*/
.temporary-hidden {
  display: none;
}



/* Description
===================*/

.description-wrapper {
  margin-bottom: 70px;
  display: flex;
  justify-content: flex-start;
}

.description {
  margin: 0;
  width: 478px;
  min-height: 356px;
  margin-right: 161px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

}

.description__title {
  margin: 0;
  margin-bottom: 24px;
  padding: 0;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
  color: var(--basic-black);
}

.description__text {
  margin: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;

  color: var(--basic-black);
}

.description__text-top {
  margin-bottom: 27px;
}

.description__subcontractors {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  list-style:none;

  outline: 1px solid orangered;
}

.description__subcontractors-item {
  margin-top: 3px;
  margin-bottom: 11px;
  margin-left: 36px;
  font-size: 18px;
  line-height: 24px;

  color: var(--basic-black);
}

.description-button {
  width: 220px;
  padding: 10px 36px 9px 39px;
}

/* Contacts
===================*/

.contacts {
  width: 300px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contacts__title {
  margin: 0;
  margin-bottom: 24px;
  padding: 0;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;

  color: var(--basic-black);
}

.contacts__text {
  margin: 0;
  margin-bottom: 32px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;

  color: var(--basic-black);
}

.button-red--contacts {
  margin: 0;
  padding: 10px 38px 10px 62px;
  width: 300px;
  margin-top: 23px;
}

/* Footer
===================*/

.main-footer {
  background-color: var(--special-grey);
}

.main-footer-top {
  display: flex;
}

.main-footer__logo img {
  width: 220px;
  min-height: 68px;
  padding: 20px 41px 25px 41px;  margin-bottom: -5px;
 

  background-color: var(--basic-red);
  box-shadow: inset 0px -5px 0px var(--box-shadow);
}

.main-footer__logo:active img {
  background-color: var(--special-red);
}

.main-footer__navigation {
  margin: 0;
  padding: 0;
  min-height: 60px;
  list-style: none;

  display: flex;
  align-items: center;
}

.main-footer__navigation a {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-background);
}

.main-footer__navigation li {
  margin: 0;
  padding-top: 30px;
}


.main-footer__navigation li:first-child {
  margin-left: 173px;
  margin-right: 58px;
}

.main-footer__navigation li:nth-child(2) {
  margin-right: 58px;
}

.main-footer__navigation li:nth-child(3) {
  margin-right: 60px;
}

.main-footer__navigation li:nth-child(4) {
  margin-right: 59px;
}

.main-footer__navigation a:hover,
.main-footer__catalog-navigation a:hover,
.feedback__email:hover,
.developers__adress:hover {
  text-decoration: underline;
}

.main-footer__navigation a:active,
.main-footer__catalog-navigation a:active {
 opacity: 0.5;
 text-decoration: none;
}


/* Footer-middle
===================*/

.main-footer-middle {
  display: flex;
}

.main-footer__contacts {
  width: 325px;
  margin-top: 23px;
  margin-bottom: 54px;

  display: flex;
  flex-direction: column;
}

.main-footer__adress, .main-footer__phone {
  margin: 0;
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
  color: var(--special-light);
}

.main-footer__catalog-navigation {
  margin: 0;
  padding: 0;
  padding-top: 28px;
  list-style: none;
  width: 620px;
 
  display: flex;
}

.main-footer__catalog-navigation a {
  margin: 0;
  font-size: 18px;
  line-height: 24px;

  color: var(--special-yellowlight);
}

.main-footer__catalog-navigation li:first-child {
  margin-left: 92px;
  margin-right: 58px;
}

.main-footer__catalog-navigation li:nth-child(2) {
  margin-right: 61px;
}

.main-footer__catalog-navigation li:nth-child(3) {
  margin-right: 59px;
}

/* Footer-bottom
===================*/

.main-footer-bottom {
  min-height: 107px;

  background-color: var(--basic-greydark);
}

.main-footer-bottom-inner {
  padding-top: 36px;

  display: flex;
  outline: 2px solid red;
}

.main-footer__copyright {
  width: 389px;

  display: flex;
  flex-direction: column;

  outline: 1px solid orangered;
}

.social {
  margin: 0;
  width: 133px;

  display: flex;
  

  outline: 1px solid green;
}

.social ul{
  margin: 0;
  padding: 0;
  width: 134px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.social li {
  list-style: none;
}

.social__button {
  width: 40px;
  height: 40px;
  border-radius: 50%;

  background-color: var(--social-basic);

  display: flex;
  justify-content: center;
  align-items: center;
}

.social__button:hover,
.social__button:active {
  background-color: var(--basic-red);
  
}

.feedback {
  margin-left: 118px;
  width: 137px;

  display: flex;
  flex-direction: column;
}

.developers {
  margin-left: 51px;

  display: flex;
  flex-direction: column;
}

.copyright__text,
.feedback__text, 
.developers__text {
  margin: 0;
  font-size: 16px;
  line-height: 18px; 
  color: var(--basic-white);
}

.feedback__email, 
.developers__adress {
  font-size: 16px;
  line-height: 18px; 
  color: var(--special-yellowlight);
}

.feedback__email:active, 
.developers__adress:active {
  color: var(--basic-red);
}

.feedback-modal {
  display: none;
}

.map-modal {
  display: none;
}

/* Catalog-page
===================*/

.breadcrumbs__inner {
  margin: 0;
  padding: 0;
  padding-left: 53px;
  display: flex;
  align-items: center;
  list-style: none;
  min-height: 18px;
  /*temporary border*/
  border: 1px solid black;

  position: relative;
}

.breadcrumbs__inner::before {
  content: "";
  width: 14px;
  height: 12px;
 

  background-image: url("../img/svg/icon-home.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  position: absolute;
  top: 4px;
  left: -1px;
}

.breadcrumbs__item {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin-right: 40px;
  text-transform: uppercase;

  color: var(--basic-black);
  position: relative;
}

.breadcrumbs__item::before {
  content: "";
  width: 8px;
  height: 12px;
 
  
  background-image: url("../img/svg/icon-right-small.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  position: absolute;
  top: 3px;
  left: -25px;

}






.catalog-item {
  margin-bottom: 20px;

  background-color: var(--catalog-lightgray);

  display: flex;
}

.catalog-item__title{
  margin-left: 29px;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;

  color: var(--special-grey);
}



/* Filtration
===================*/

.filtration-sorting-wrapper {
  display: grid;
  grid-template-columns: min-content min-content;
  column-gap: 20px;
}

.filtration {
  width: 220px;

  display: flex;
  flex-direction: column;

  outline: 1px solid blue;
  
}

.filtration__title {
  margin: 0;
  font-family: "PT Sans", Arial, sans-serif;
  width: 220px;
  font-size: 13px;
  line-height: 18px;
  font-weight: normal;
  padding: 10px 151px 10px 18px;
  text-transform: uppercase;

  color: var(--basic-black);
  background-color: var(--filter-background);
}

.price-filter,
.manufacturers-filter,
.power-type-filter {
  margin: 0;
  padding: 0;
  border: none;
}

.price-filter {
  margin-top: 20px;
  margin-bottom: 10px;
}








.legend-title {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--basic-black);
}

.label {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
}

/* Range-filter
===================*/

.range-filter {
  width: 220px;
  margin-top: 11px;
}

.range-controls {
  height: 80px;
  margin-bottom: 9px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;

  background-color: var(--filter-background);

  position: relative;
}

.range-controls .scale {
  height: 2px;

  background-color: var(--filter-scale);
}

.range-controls .bar {
  height: 2px;
  width: 85%;

  background-color: var(--filter-bar);
}

.range-controls .toggle {
  width: 4px;
  height: 4px;
  border: 8px solid var(--basic-white);
 
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--filter-toggle-box-shadow);
  background-color: #EE3643;
  cursor: pointer;
 

  position: absolute;
  top: 32px;
  left: 0;
}

.range-controls .togle-min {
 left: 26px;
}

.range-controls .togle-max {
  left: 168px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
}

.price-controls label {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  text-transform: uppercase;
}

.price-controls .range-decoration {

}

.price-controls input {
  font-family: inherit;
  font-size: inherit;
  margin-bottom: 25px;
  width: 95px;
  padding: 10px;
  text-align: center;
  border: none;

  color: var(--basic-black);
  background-color: var(--filter-background);
}

.form-decoration-line {
  width: 220px;
  min-height: 1px;
  margin-bottom: 25px;

  background-color: var(--form-button-border);
}

.manufacturers-list,
.power-type-list {
  padding: 0;
  list-style: none;
}

.manufacturers-list input,
.power-type-list input {
  margin-bottom: 20px;
}

.manufacturers-list input:last-child {
  margin-bottom: 27px;
}





.form-button {
  width: 220px;
  height: 38px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 30px;
  border: 1px solid var(--form-button-border);
  color: var(--basic-black);
  background-color: var(--basic-white);
  text-transform: uppercase;
}

.form-button:hover {
  background-color: var(--hover);
}

.form-button:active {
  background-color: var(--active);
}

/* Sorting
===================*/

.sorting-catalog {
  width: 700px;
}


.sorting {
  display: flex;
  background-color: var(--filter-background);

  outline: 1px solid red;
}

.sorting__title {
  margin: 0;
  margin-left: 19px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: normal;
  padding: 10px 151px 10px 18px;
  text-transform: uppercase;

  color: var(--basic-black);
}

.sorting__inner {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  align-items: center;
  
}

.sorting__item {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 17px;
  text-transform: uppercase;
  border-bottom: 1px dotted var(--basic-red);

  color: var(--basic-black);
  opacity: 0.3;
}

.sorting__item:hover {
  color: var(--basic-black);
  opacity: 1;
  border-bottom: 1px solid var(--basic-red);
}

.sorting__item:active {
  color: var(--basic-red);
  opacity: 1;
}

.type-sorting {
  margin-left: 70px;
}

.functional-sorting {
  margin-left: 65px;
}





.pagination {
  display: flex;
}

/* Catalog
===================*/

.catalog {
  display: grid;
  grid-template-columns: repeat(3, 220px);
  column-gap: 20px;
  row-gap: 18px;

  outline: 1px solid green;
}






/* Pagination
===================*/

.pagination {
  outline: 1px solid orangered;
}

.pagination__item {
  margin-left: 10px;
  margin-top: 50px;
  padding: 10px 15px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  border: 1px solid var(--form-button-border);
  border-radius: 2px;
  color: var(--basic-black);
}

.pagination__item:first-child {
  margin-left: 0;
}

.pagination__item:last-child {
  padding: 10px 31px;
  text-transform: uppercase;
}

.pagination__item:hover {
  border: 1px solid var(--basic-greylight);
}

.pagination__item:active {
  border: 1px solid var(--basic-red);
}

.pagination__item:focus {
  color: var(--basic-white);
  background-color: var(--basic-red);     
}

/* Perforators description
===================*/

.perforators-description-background {
  min-height: 261px;
  background-color: var(--basic-background);
}

.perforators-description {
  margin-top: 59px;
  
  display: flex;
  flex-direction: column;
}

.perforators-description__title {
  margin: 0;
  padding: 0;
  margin-top: 64px;
  margin-bottom: 25px;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;

  color: var(--basic-black);
}

.perforators-description__text {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;

  color: var(--basic-black);
}
 
.add-to-cart-modal {                                   
  display: none;
}